* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile-body {
    border: solid 3px red;
    width: 375px;
    height: 100vh;
}

.mobile-header {
    width: 100%;
    height: 10%;
    border: solid 3px rgb(0, 140, 255);
}

.green-square {
    width: 100%;
    height: 60%;
    border: solid 3px green;
}

.orange-square {
    width: 100%;
    height: 25%;
    border: solid 3px orange;
}

.pink-square {
    width: 87%;
    height: 70%;

    border: solid 3px pink;
    margin: 5%;
}